services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_DB: airflow
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9004:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  airflow-init:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - postgres
      - minio
    env_file:
      - .env
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
      AIRFLOW__WEBSERVER__SECRET_KEY: "93f6d3692bd1eea014723780720e156b066385c2c026b0055aaaedc15d33e9bd"
      AIRFLOW__CORE__FERNET_KEY: "U_LuSIrbivRLOyNg4rDl6wWg078-t57Ar18IkL1ZToU="
    command: >
      bash -c "
        airflow db init &&
        airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com
      "

  airflow-webserver:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - airflow-init
      - postgres
      - minio
    env_file:
      - .env
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__WEBSERVER__SECRET_KEY: "93f6d3692bd1eea014723780720e156b066385c2c026b0055aaaedc15d33e9bd"
      AIRFLOW__CORE__FERNET_KEY: "U_LuSIrbivRLOyNg4rDl6wWg078-t57Ar18IkL1ZToU="
    ports:
      - "8083:8080"
    command: airflow webserver

  airflow-scheduler:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - airflow-init
      - postgres
      - minio
    env_file:
      - .env
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__WEBSERVER__SECRET_KEY: "93f6d3692bd1eea014723780720e156b066385c2c026b0055aaaedc15d33e9bd"
      AIRFLOW__CORE__FERNET_KEY: "U_LuSIrbivRLOyNg4rDl6wWg078-t57Ar18IkL1ZToU="
    command: airflow scheduler

volumes:
  postgres_data:
  minio_data:
