
services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_DB: airflow
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9004:9000"   # MinIO API
      - "9001:9001"   # MinIO WebUI
    volumes:
      - minio_data:/data

  airflow-init:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - postgres
      - minio
    env_file:
      - .env
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
      AIRFLOW__WEBSERVER__SECRET_KEY: "93f6d3692bd1eea014723780720e156b066385c2c026b0055aaaedc15d33e9bd"
      AIRFLOW__CORE__FERNET_KEY: "U_LuSIrbivRLOyNg4rDl6wWg078-t57Ar18IkL1ZToU="
      AIRFLOW_CONN_AWS_DEFAULT: "aws://minioadmin:minioadmin@/?endpoint_url=http%3A%2F%2Fminio%3A9000&region_name=us-east-1&verify=false"
      GEE_SERVICE_ACCOUNT_JSON: "/opt/airflow/dags/repo/src/serene-bastion-406504-9c938287dece.json"
    volumes:
      - ./airflow_home:/opt/airflow       # Airflow runtime (config, logs, temp)
      - ./airflow/dags:/opt/airflow/dags  # Correct DAGs path
      - ./airflow/plugins:/opt/airflow/plugins  # Correct plugins path
      - ./src:/opt/airflow/dags/repo/src  # Ensure project code is available
      - ./config:/opt/airflow/dags/repo/config  # Ensure configs are available
    command: >
      bash -c "
        airflow db init &&
        airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com
      "

  airflow-webserver:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - airflow-init
      - postgres
      - minio
    env_file:
      - .env
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__WEBSERVER__SECRET_KEY: "93f6d3692bd1eea014723780720e156b066385c2c026b0055aaaedc15d33e9bd"
      AIRFLOW__CORE__FERNET_KEY: "U_LuSIrbivRLOyNg4rDl6wWg078-t57Ar18IkL1ZToU="
      AIRFLOW_CONN_AWS_DEFAULT: "aws://minioadmin:minioadmin@/?endpoint_url=http%3A%2F%2Fminio%3A9000&region_name=us-east-1&verify=false"
      GEE_SERVICE_ACCOUNT_JSON: "/opt/airflow/dags/repo/src/serene-bastion-406504-9c938287dece.json"
    ports:
      - "8083:8080"
    volumes:
      - ./airflow_home:/opt/airflow
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/plugins:/opt/airflow/plugins
      - ./src:/opt/airflow/dags/repo/src
      - ./config:/opt/airflow/dags/repo/config
    command: airflow webserver

  airflow-scheduler:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - airflow-init
      - postgres
      - minio
    env_file:
      - .env
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__WEBSERVER__SECRET_KEY: "93f6d3692bd1eea014723780720e156b066385c2c026b0055aaaedc15d33e9bd"
      AIRFLOW__CORE__FERNET_KEY: "U_LuSIrbivRLOyNg4rDl6wWg078-t57Ar18IkL1ZToU="
      AIRFLOW_CONN_AWS_DEFAULT: "aws://minioadmin:minioadmin@/?endpoint_url=http%3A%2F%2Fminio%3A9000&region_name=us-east-1&verify=false"
      GEE_SERVICE_ACCOUNT_JSON: "/opt/airflow/dags/repo/src/serene-bastion-406504-9c938287dece.json"
    volumes:
      - ./airflow_home:/opt/airflow
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/plugins:/opt/airflow/plugins
      - ./src:/opt/airflow/dags/repo/src
      - ./config:/opt/airflow/dags/repo/config
    command: airflow scheduler

volumes:
  postgres_data:
  minio_data:
